:root {
  --base-color: #596D74;
  --base-tint: #05353F;
  --base-tint-2: #012C37;
  --border-color: #1E4752;
  --selection-color: #ace
}
:root {
  --base-color: #ddd;
  --base-tint: #ccc;
  --base-tint-2: #fcfcfc;
  --border-color: #aaa;
}
html,body {
  margin:0;padding:0
}
* {
  min-height:0;
  box-sizing: border-box;
}

html {
  background: var(--base-color);

}

button {
  padding:.25em;
  border:1px solid var(--border-color);
  border-radius: .25em;
  background: var(--base-tint-2);
}
button img {
  display: block;
  height:23px;
}
button:disabled img {
  filter: grayscale(1) contrast(50%) brightness(120%);

}

.u-space-v {
  display: grid;
  gap: 1em;
}

.u-inset {
  border: 2px solid var(--border-color);
  background: var(--base-tint-2);
  padding: 1em;
  border-radius: .4em;
}


.toolbar {
  background-color: var(--base-tint);
  border-bottom: 1px solid var(--border-color);
  display: flex;
}
.toolbar--v {
  flex-direction: column;
}
/*
.toolbarGroup {
  border:1px solid var(--border-color);
  margin:-1px;
  padding:.25em;
}

.toolbarGroup__items {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  gap: .25em;
}

.toolbarGroup button {
  height: 30px;
}
.label {
  color:#0008;
  font-size:.7rem;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #fffa;
}
select, input[type='number'] {
  border:1px solid var(--border-color);
  border-radius: .2em;
}
*/